{{#partial "content"}}
            <div class="entry-list single">
                {{#if flashMessage }}
                    <p id="flash-message">{{ flashMessage }}</p>
                {{/if}}
                <article>
                    <h1>{{ blogEntry.postTitle }}</h1>
                    <time datetime="{{ blogEntry.htmlDateTime }}">{{ blogEntry.formattedDate }}</time>
                    <div class="entry">
                        <p>{{ blogEntry.postBody }}</p>
                        <p><a class="link" href="/edit/{{ blogEntry.slug }}">Edit Entry</a></p>
                    </div>
                </article>
                <h2>Tags</h2>
                    <p>
                        {{#each blogEntry.tags }}
                            <a href="/category/{{ tagText }}"</a>&nbsp;
                        {{/each}}
                    </p>

            </div>
        </div>
    </section>
    <section class="entry-comments">
        <div class="container">
            <h2>Comments</h2>
            {{#each blogEntry.comments}}
                <div class="comment">
                    <strong>{{ commentAuthor }}</strong>
                    <time datetime="2016-01-31 1:00">{{ formattedDate }}</time>
                    {{ commentBody }}
                </div>
            {{/each}}
            <div class="new-comment">
                <form action="/blogposts/{{ blogEntry.slug }}/publish-comment", method="post">
                    <label for="name"> Name</label>
                    <input type="text" name="name"><br>
                    <label for="comment">Comment</label>
                    <textarea rows="5" name="comment"></textarea>
                    <input type="submit" value="Post Comment" class="button">
                </form>
            </div>
{{/partial}}

{{#partial "title"}}Post - "{{ blogEntry.postTitle }}"{{/partial}}

{{> base.hbs}}