{{#partial "content"}}
            <div class="entry-list">
                {{#if flashMessage }}
                    <p id="flash-message">{{ flashMessage }}</p>
                {{/if}}
                {{#each blogEntries}}
                    <article>
                        <h2><a href="/blogposts/{{ slug }}">{{ PostTitle }}</a></h2>
                        <time datetime="{{ htmlDateTime }}">{{ formattedDate }}</time>
                        <p>
                            {{#each tags }}
                                <a href="/category/{{ slug }}">{{ tagText }}</a>&nbsp;
                            {{/each}}
                        </p>
                    </article>
                {{/each}}
            </div>
{{/partial}}

{{#partial "title"}}Home Page{{/partial}}

{{> base.hbs}}