{{#partial "content"}}
    <div class="entry-list">
        <h1>Posts tagged with "{{ tag.tagText }}"</h1>
        {{#each blogEntries}}
            <article>
                <h2><a href="/blogposts/{{ slug }}">{{ PostTitle }}</a></h2>
                <time datetime="{{ htmlDateTime }}">{{ formattedDate }}</time>
            </article>
        {{/each}}
    </div>
{{/partial}}

{{#partial "title"}}Category - "{{ tag.tagText }}"{{/partial}}

{{> base.hbs}}