{{#partial "content"}}
            <div class="entry-list">
                {{#if flashMessage }}
                    <p id="flash-message">{{ flashMessage }}</p>
                {{/if}}
                {{#each blogEntries}}
                    <article>
                        <h2><a href="/blogposts/{{ slug }}">{{ PostTitle }}</a></h2>
                        <!-- TODO:oi - figure out how to mention the date in datetime attribute -->
                        <time datetime="{{ htmlDateTime }}">{{ formattedDate }}</time>
                    </article>
                {{/each}}
            </div>
{{/partial}}

{{> base.hbs}}